@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Poppins:wght@500&display=swap");

/*********************************Common CSS starts************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 35px;
}

body {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 20px;
}

span {
  font-size: 20px;
  font-style: italic;
}

section {
  overflow-x: hidden;
}

img {
  height: 500px;
  width: 500px;
}

/*********************************Common CSS ends**************************************/

/*********************************Navbar Customization starts**************************/
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.navbar-nav {
  align-items: flex-end;
  margin-top: 10px;
}

.nav-item {
  width: 130px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  transition: 0.3s ease;
}

.nav-item:hover {
  background-color: #e3e3e3;
}

.navbar-brand {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.55) !important;
  font-size: 1.8rem;
}

/*********************************Navbar Customization ends****************************/

.hero_section {
  background-image: url("images/hero_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_section h1,
.hero_section p {
  color: #fff;
}

.hero_section p {
  font-size: 24px;
}

.contact_me_button {
  font-size: 20px;
  border-radius: 25px;
  transition: 0.3s ease;
  background-color: #28282b;
  color: #fff;
}

.contact_me_button:hover {
  transform: scale(1.1);
  color: #fff;
  box-shadow: none;
}

.hero-content,
.bedroom-content,
.livingroom-content,
.kitchen-content,
.balcony-content {
  min-height: 100vh;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.livingroom_section,
.balcony_section,
.contact_section {
  background-color: #28282b;
  color: #fff;
}

.bedroom_section,
.kitchen_section,
.carousel_section {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.55);
}

.carousel_section h1 {
  text-align: center;
  margin: 20px 0;
}

.carousel-item img {
  height: 90vh;
  width: 100%;
}

.contact_section {
  overflow: hidden;
}

.contact-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_email .fa-envelope {
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}

/*********************************Media Query starts***********************************/

@media screen and (max-width: 991px) {
  .nav-item {
    justify-content: flex-start;
    padding-left: 25px;
  }
  .bedroom-content,
  .kitchen-content {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .bedroom-content,
  .kitchen-content {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .hero_section .contents {
    justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 18px;
  }
  span {
    font-size: 18px;
  }
  .contact_me_button{
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }
  .contact_me_button{
    font-size: 16px;
  }
}

/*********************************Media Query Ends*************************************/
